.tac { text-align:center; }
.tar { text-align:right; }
.tal { text-align:left; }
.cb  { clear:both; }

h1 {
  position: relative;
  white-space: nowrap;
  padding-left: 12px;
  -webkit-animation: slideIn 1s ease-out;
}
h1:before {
  position: absolute;
  content: '';
  bottom: -0px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(90, 90, 230);
  animation: slideIn 1s ease-out;
}
h1:after {
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to right, rgb(90, 90, 230), transparent);
  animation: slideIn 1s ease-out;
}
h1 a { text-decoration: none;}
h1 a:hover { text-decoration: underline;}
h1 a:link { color: #000; }
h1 a:visited { color: #000; }

@-webkit-keyframes slideIn {
  0%   { padding-left:100%; }
  100% { padding-left:0%; }
}

table {
  font-size: 0.8em;
  width: 99%;
  border: solid 1px #bbb;
  border-collapse: collapse;
}
table td, th {
  padding: 4px;
  border: solid 1px #bbb;
}
table tr:nth-child(odd) { background-color: #eee }

h2 { color: #444; padding-left:8px; border-bottom: 3px dotted #888; }


button {
  padding: 0.5em 1em;
  background: #888;
  color: #FFF;
  border-bottom: solid 2px #679;
  border-radius: 2px;
}
button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
